body {
    text-align: center;
    font-size: 18px;
}
img#logo {
    width: 50%;
}

table {
    width: 100%;
    font-size: 18px;
    text-align: center;
}
td, th {
    width: 25%;
}
.change {
    color: red;
}
.col-social-container {
    height: 600px;
    overflow-y: scroll;
}
#trends {
    padding-top: 10px;
}
button#donationButton {
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    #logo {
        width:100%;
    }
    td {
        width: 100%;
        display: block;
        padding-bottom: 3px;
    }
}